<li class="card-wrapper">
  <span class="book-title"><%=book.title%>.</span>
  <span class="book-id">#<%=book.id%></span>
  <img class="book-image" src="<%=book.imgUrl%>" />
  <span class="book-author"><%=book.author%></span>
</li>
