<%- include( '../partials/header') %>
<div>
  <ul class="top50-list">
    <% filteredSong.forEach(song => { %> <%- include('../partials/song', {song})
    %> <%});%>
  </ul>
</div>
<%- include( '../partials/footer') %>
