<%- include( '../partials/header') %>
<div>
  <ul class="top50-list">
    <% top50.forEach(song => { %>
    <li>Number <%=song.rank%>. <%=song.title%> <%});%></li>
  </ul>
</div>
<%- include( '../partials/footer') %>
